<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HungerApps</title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Hunger Apps
            </h1>
        </div>
        <a id="menu" class="header__menu">☰</a>
    </header>
    <!-- Navigation -->
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">Favourite</a></li>
            <li class="nav__item"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <!-- Hero -->
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Hilangkan laparmu dengan HungerApps</h1>
            <p class="hero__tagline">Repository tempat makan terbaik di kota kamu ada disini dengan kemudahan yang tiada
                tara untuk mendapatkannya</p>
        </div>
    </div>
    <main>
        <section class="content">
            <div class="restaurant">
                <h1 class="restaurant__label">Explore Restaurant</h1>
                <div class="posts">
                    <article class="post-item">
                        <img src="./images/heros/hero-image_1.jpg" alt="gambar restaurant 1"
                            class="post-item__thumbnail">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#"
                                    class="post-item__date__author">Dicoding
                                    Intern</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img src="./images/heros/hero-image_2.jpg" alt="gambar restaurant 2"
                            class="post-item__thumbnail">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#"
                                    class="post-item__date__author">Dicoding
                                    Intern</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img src="./images/heros/hero-image_3.jpg" alt="gambar restaurant 3"
                            class="post-item__thumbnail">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#"
                                    class="post-item__date__author">Dicoding
                                    Intern</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img src="./images/heros/hero-image_4.jpg" alt="gambar restaurant 4"
                            class="post-item__thumbnail">
                        <div class="post-item__content">
                            <p class="post-item__date">About 10 Hours Ago By <a href="#"
                                    class="post-item__date__author">Dicoding
                                    Intern</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright 2021 - Hunger Apps</p>
    </footer>


    <!-- <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
</body>

</html>